.jumbotron {
    padding-top: 5rem;
    /* background-color: #ececdd; */
    background-color: #FFFFE0 ;
}

#projects {
    background-color: #FFFFE0 ;
}

#contact {
    background-color: #ffff;
}

section{
    padding-top: 5rem;
}