.jumbotron {
    padding-top: 5rem;
    /* background-color: #ececdd; */
    background-color: #FFFFE0 ;
}

#projects {
    background-color: #FFFFE0 ;
}

#contact {
    background-color: #ffff;
}

section{
    padding-top: 5rem;
}

/* Footer */
footer {
    padding: 3rem;
  }
  
  footer p {
    font-weight: bold;
    text-decoration: none;
  }
  
  footer a:hover {
    color: white;
  }

  footer a {
    margin: 15px;
  }
  
